<h1>New Recipe</h1>

<div class="form-container">
  <form>

    <div class="form-header">
      <div class="form-avatar">
      </div>
      <div class="form-title">
        {{input type="text" class="create-title" placeholder="Title" value=newTitle}}
        {{input type="text" class="create-author" placeholder="Author" value=newAuthor}}

      <div class="form-recipe-type">
        <p>Recipe Type:</p>
        {{view "select"  class="select-recipe-type" value=newRecipeType content=recipeType}}
      </div>

      <div class="form-time">
        {{input type="text" class="create-prep-time" placeholder="Prep Time" value=newPrepTime}}
        {{input type="text" class="create-cook-time" placeholder="Cook Time" value=newCookTime}}
        {{input type="text" class="create-cook-temp" placeholder="Cook Temp" value=newCookTemp}}
        {{view "select" class="select-temp-units" value=newCookTempUnits content=temperatureUnit}}
      </div>


      <div class="form-yield">
        {{input type="text" class="create-yield-number" placeholder="Yield Number" value=newYieldNumber}}
        {{input type="text" class="create-yield-units" placeholder="Yield Units" value=newYieldUnits}}
      </div>



      </div>
    </div>

    <div class="form-steps">

    </div>




    <button class="submit-recipe" {{action "createPost" newTitle newAuthor newRecipeType newPrepTime newCookTime newCookTemp newCookTempUnits newYieldNumber newYieldUnits}}>Create New Recipe</button>






  </form>
</div>


{{outlet}}
